.metricsBg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), radial-gradient(49.87% 49.87% at 64.72% 100%, rgba(182, 147, 65, 0) 0%, #3A59A6 0.01%, #3A59A6 0.02%, rgba(58, 89, 166, 0.1) 94.79%);
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 0;
}