@import '../../../styles/utils/vars';
@import '../../../styles/utils/mixins';

.goldButton {
  display: block;
  background: linear-gradient(0deg, rgba(216, 180, 80, 0.14), rgba(216, 180, 80, 0.14)), $mainFontColor;
  box-shadow: 0px 4px 0px $goldDarkFont;
  color: $goldDarkFont;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.1s all;

  &:hover {
    box-shadow: 0px 1px 0px #B69341;
  }

  div:first-child {
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.55);
    }
    span:first-child {
      font-size: 12px;
      text-transform: uppercase;
      position: relative;
      bottom: -1px;
    }
    span:last-child {
      font-size: rem(20px);
      text-transform: uppercase;
    }
  }
}

.goldButtonLarge {
  display: block;
  background: linear-gradient(0deg, rgba(216, 180, 80, 0.14), rgba(216, 180, 80, 0.14)), $mainFontColor;
  box-shadow: 0px 4px 0px $goldDarkFont;
  color: $goldDarkFont;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.1s all;

  &:hover {
    box-shadow: 0px 1px 0px #B69341;
  }

  span {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.55);
  }
  div:first-child {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    span:first-child {
      font-size: rem(24px);
      text-transform: uppercase;
      position: relative;
      bottom: -1px;
    }
    span:last-child {
      font-size: rem(45px);
      line-height: 55px;
    }
  }
}

.textBase {
  font-size: 14px !important;
  text-transform: none !important;
  font-weight: 400 !important;
  padding: 5px 0;
}