// Font
$mainFont                : 'Titillium Web', Helvetica, Arial, sans-serif;
$mainFontColor           : #FCFAFA;
$mainFontSize            : 18px;
$mainFontWeight          : 400;

// Screen size
$fullHdWidth             : 1700px;
$desktopWidth            : 1400px;
$smDesktopWidth          : 976px;
$tableWidth              : 768px;
$phoneWidth              : 480px;

// Colors

// fonts
$darkGreyFont            : #25262A;
$goldFont                : #D8B450;
$goldDarkFont            : #B69341;

// backgrounds
$mainBgColor             : #25262A;
$darkBg                  : #252525;
$goldBg                  : #DEBF68;
$greyBg                  : #ADADAD;
$darkGreyBg              : #1E1E22;
$lightGreyBg             : #D9D9D9;
$blueBg                  : #2A4179;