@import '../../styles/utils/vars';

.menu {
  z-index: 100;
  display: flex;
  & > li {
    margin-right: 55px;
    line-height: 40px;
  }
  & > li:last-child {
    margin-right: 0;
  }

  .nestedMenu {
    padding: 0 10px;
    background: $mainBgColor;
  }
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  & > li {
    line-height: 50px;
  }

  .nestedMenu {
    li {
      line-height: 40px;
      margin-left: 20px;
    }
  }
}

.arrow {
  transform: rotate(0);
  transition: all 0.1s;
}
.arrowActive {
  transform: rotate(180deg);
}